*.key
*.priv
*.pub
operator.*
implant.*
vendor/
dist/
build/
*.exe
*.test
*.out
.DS_Store
implant/core/*_stub.go
server/core/embedsrc/implant_src/
server/core/embedsrc/implant_src.tar.gz
bin/
release/
